################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.cr/personal/FavoritesList
/.vs/VNTextPatch
/Build
/VNTextPatch/.vs
/VNTextPatch/obj
/VNTextPatch.CLI/.vs
/VNTextPatch.CLI/obj
/VNTextPatch.CLI/VNTextPatch.CLI.csproj.user
/VNTextPatch/VNTextPatch.csproj.user
